<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="debug" name="railway.itermit.com">
    <Properties>
        <Property name="basePath">${sys:logPath}</Property>
    </Properties>

    <Appenders>

        <RollingFile name="fileLogger"
                     fileName="${basePath}\app.log"
                     filePattern="${basePath}\app-%d{yyyy-MM-dd}.log.gz">

            <PatternLayout>
                <pattern>
                    %-5level [%d{yyyy-MM-dd HH:mm:ss}] [%t]  %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="10">
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%d] [%-5level] %c{0}: %msg%n
                </pattern>
            </PatternLayout>
        </Console>

        <Async name="Async">
            <AppenderRef ref="fileLogger"/>
<!--            <AppenderRef ref="LogToConsole"/>-->
        </Async>
    </Appenders>

    <Loggers>
        <Root level="trace">
<!--        <Root level="debug">-->
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>